<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/assets/js/script.js"></script>
	</head>
	<body>
		{{{ body }}}
		<div id="wrap">
			<img class="bgfade" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/af/c8/e9/gourmet-burger-available.jpg">
			<img class="bgfade" src="http://www.wyntonsworld.com/wp-content/uploads/2014/06/gourmet-burger-e1405035095197.jpg">
			<img class="bgfade" src="https://for-restaurants.bookatable.co.uk/wp-content/uploads/Pulled-Pork-burger-0188-1.jpg">
			<img class="bgfade" src="https://www.virginexperiencedays.co.uk/content/img/product/large/beer-masterclass-with-tastings-17115449.jpg">
			<img class="bgfade" src="http://419a5ecf000c70751b96-2d268c5dae618615daa5314a1f0f4b99.r77.cf1.rackcdn.com/restaurants-irs/235142/Salt-Icon-3.0.jpg">
		</div>
	</body>
</html>
